/* Metropolis */
/* Metropolis - Light (Weight: 300) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300; /* Light */
}

/* Metropolis - Regular (Weight: 400) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; /* Regular */
}

/* Metropolis - Medium (Weight: 500) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500; /* Medium */
}

/* Metropolis - SemiBold (Weight: 600) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600; /* SemiBold */
}

/* Metropolis - Bold (Weight: 700) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; /* Bold */
}
